<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!people"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="people">
  <thead>
    <tr>
      <th>Father ID</th>
      <th>Mother ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Birthdate</th>
      <th>IdentityNumber</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.fatherId }}</td>
      <td>{{ person.motherId }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.surname }}</td>
      <td>{{ person.birthdate }}</td>
      <td>{{ person.identityNumber }}</td>
    </tr>
  </tbody>
</table>
